.container{
    width: 200px;
    height: 200px;
    border: 1px solid red;
    background: green;
    display:  inline-block;
}

.second-contaier{
    width: 300px;
    border: 1px solid green;
    background: red;
    display: inline-block;
}
